.preloader {
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  .preloader img {
    width: 140px;
    height: 140px;
    animation: logo 0.7s infinite ease-in alternate;
  }
  @keyframes logo {
    from {
      width: 50px;
      height: 50px;
    }
    to {
      width: 70px;
      height: 70px;
    }
  }