@use '../../../scss/helpers/_variables.scss' as *;
@use '../../../scss/helpers/_mixins.scss' as *;

section.testimonial{
margin-top: 40px;
.swiper {
    margin: 30px auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    max-width: 400px;
    padding: 10px;
    margin: 30px 0;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    transition: .5s ease-in-out all;
}

.testifiers {
    span.left-quote {
        bottom: 10px;
        left: 10px;
    }

    span.right-quote {
        top: 10px;
        right: 10px;
    }

    span.right-quote,
    span.left-quote {
        position: absolute;
        background-color: white;
        color: $complementary-color;
        font-size: 30px;

    }


    box-shadow: 1px 1px 5px 1px rgba(102, 121, 124, 0.418);
    position: relative;
    padding: 55px 10px;
    cursor: pointer;
    text-align: center;
    z-index: 10;
    transition: .4s ease-in-out all;
    @media (max-width:400px){
        &{
            width: 100%;
        }
    }

    &:hover {
        .image {
            transform: rotate(360deg);
            transition: .4s all ease-in-out;
            padding-left: 15px;
            // position: relative;


            img {
                transform: rotate(0deg);


            }
        }

        transform: scale(1.07);
        box-shadow: 1px 1px 5px 1px rgba(57, 61, 61, 0.801);


    }

    .image {
        width: 80px;
        top: -40px;
        z-index: 100;
        left: calc(50% - 40px);
        // transform: translate(50%,-50%);
        height: 80px;
        background-color: white;
        border: 3px solid $complementary-color;
        padding-left: 15px;
        position: absolute;
        transition: .5s ease-in-out all;

        img {
            width: 100%;
        }
       
        
    }

    .texts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .stars {
            display: flex;
            font-size: 14px;
            gap: 4px;
            margin: 10px 0;
            color: $complementary-color
        }

        .name {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            text-align: center;

            span:nth-child(1) {
                font-size: 17px;
                font-weight: 800;
            }

            span:nth-child(2) {
                color: $complementary-color;

            }
        }
    }

}
}
