.title-header {
    background-image: linear-gradient(rgba(15, 1, 1, 0.644), rgba(6, 6, 7, 0.69)), url("/mohztec-images/solar3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 90px auto 40px auto;
    top: 0;
    z-index: 1000;
  }
  .title-header h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Yellowtail;
    margin-bottom: 12px;
  }
  .title-header .title-header-nav {
    width: 250px;
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 1.5px;
  }
  .title-header .title-header-nav svg {
    margin: 0 9px;
  }
  .title-header .title-header-nav a {
    color: rgb(63, 45, 45);
    font-size:20px;
  }
  