@use '../../scss/helpers/_mixins.scss' as * ;
@use '../../scss/helpers/_variables.scss' as * ;

.display-container{
    background-image:  linear-gradient(rgba(21, 21, 24, 0.692),rgba(17, 16, 16, 0.808)), url(/mohztec-images/solar2.jpg);
    margin-top: 90px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    @include flex-center-center();
}

.swiper-button-next, .swiper-button-prev{
    color: white !important;
}
.swiper-content {
    padding: 50px;
    @media (max-width:400px){
        &{
            padding: 20px;
            margin-top: 0px;
        }
    }
    .swiper-image{
        img{
            border-radius: 10px;
        }
        height: 410px;
        position: relative;
        &::after{
            width: 200px;
            height: 50px;
            background-color: $brand-color;
            background: linear-gradient(to left,$brand-color,rgb(50, 115, 214));

            content: "";
            position: absolute;
            top: -7px;
            z-index: -1;
            left: -7px;
            border-radius: 10px;
        }
        &::before{
            width: 200px;
            height: 50px;
            background: linear-gradient(to left,$brand-color,rgb(50, 115, 214));

            content: "";
            position: absolute;
            bottom: -7px;
            z-index: -1;
            right: -7px;
            border-radius: 10px;
        }
        @media (max-width:600px){
            &{
               height: 250px;
            }
        }
    }
}
  
  .swiper-desc {
    h1{
        color: white;
        font-weight: 800;
        line-height: 1.1;
    }
    .enquiry{
        button{
            margin: 15px;
            display: inline-block;
            width: 190px;
            text-align: center;
            border: 0;
            outline: none;
            padding: 15px;
            border-radius: 10px;
            background-color: $brand-color;
        }
        a{
            color: white;
            font-weight: 500;
            font-size: 18px;

        }
    }
  }
